*{
	margin: 0;
	padding: 0;
}

main{
	padding: 10px;
	font-family: arial;
}

h2{
	padding: 12px;
	text-align: center;
	background-color: #D9EDF7;
	border-radius: 8px 8px 0 0;
}

.painel{
	border-style: solid;
	border-color: #D9EDF7;
	border-width: thin;
	border-radius: 8px;
	max-width: 500px;
	flex-grow: 1;
}

.text{
	text-align: justify;
}

form{
	padding: 0 20px;
}

.conteudo-painel{
	padding: 20px;
}

.btn{
	text-decoration: none;
	padding: 10px;
	background-color: #286090;
	width: 90px;
	margin: 15px 0 15px 0;
	color: #FFFEFA;
	text-align: center;
	border-radius: 4px;
	border-style: none;
	font-size: 16px;
}

.block{
	display: block;
}

input{
	width: 100%;
	margin: 10px 0;
	padding: 6px;
	box-sizing: border-box;
	border-color: #D9EDF7;
	border-radius: 4px;
}

#esquerda{
	float: left
}

#direita{
	float: right;
}
